<a href="https://colab.research.google.com/github/allanzim/treinamento/blob/master/Day_4_Allan_Furukawa_Gadani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pip install sidetable

import numpy as np
import pandas as pd

import sidetable
from scipy import stats

import seaborn as sns
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objects as go

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sidetable
  Downloading sidetable-0.9.1-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from sidetable) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.15.0)
Installing collected packages: sidetable
Successfully installed sidetable-0.9.1

In [2]:
df = pd.read_csv('/content/nyflights.csv')

df

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308309,308310,2013,8,30,1818.0,1815,3.0,1943.0,1957,-14.0,UA,1053,N38268,EWR,CLE,59.0,404,18,15,2013-08-30 18:00:00
308310,308311,2013,8,30,1819.0,1545,154.0,1924.0,1705,139.0,AA,1786,N3KSAA,JFK,BOS,39.0,187,15,45,2013-08-30 15:00:00
308311,308312,2013,8,30,1819.0,1800,19.0,2051.0,2053,-2.0,UA,786,N524UA,EWR,PBI,126.0,1023,18,0,2013-08-30 18:00:00
308312,308313,2013,8,30,1820.0,1748,32.0,2046.0,2035,11.0,B6,299,N529JB,LGA,MCO,125.0,950,17,48,2013-08-30 17:00:00
308313,308314,2013,8,30,1820.0,1700,80.0,2103.0,2027,36.0,UA,512,N525UA,JFK,SFO,322.0,2586,17,0,2013-08-30

In [3]:
df_delay2hours = df[df['dep_delay']>2]

df_delay2hours

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
25,26,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
26,27,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,2013-01-01 06:00:00
27,28,2013,1,1,613.0,610,3.0,925.0,921,4.0,B6,135,N635JB,JFK,RSW,175.0,1074,6,10,2013-01-01 06:00:00
31,32,2013,1,1,623.0,610,13.0,920.0,915,5.0,AA,1837,N3EMAA,LGA,MIA,153.0,1096,6,10,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308309,308310,2013,8,30,1818.0,1815,3.0,1943.0,1957,-14.0,UA,1053,N38268,EWR,CLE,59.0,404,18,15,2013-08-30 18:00:00
308310,308311,2013,8,30,1819.0,1545,154.0,1924.0,1705,139.0,AA,1786,N3KSAA,JFK,BOS,39.0,187,15,45,2013-08-30 15:00:00
308311,308312,2013,8,30,1819.0,1800,19.0,2051.0,2053,-2.0,UA,786,N524UA,EWR,PBI,126.0,1023,18,0,2013-08-30 18:00:00
308312,308313,2013,8,30,1820.0,1748,32.0,2046.0,2035,11.0,B6,299,N529JB,LGA,MCO,125.0,950,17,48,2013-08-30 17:00:00
308313,308314,2013,8,30,1820.0,1700,80.0,2103.0,2027,36.0,UA,512,N525UA,JFK,SFO,322.0,2586,17,0,2013-08-30

In [4]:
df[df['dep_delay']>2].dest.value_counts()

ORD    5321
LAX    5037
ATL    5002
SFO    4555
MCO    4505
       ...
CHO       8
EYW       6
ANC       5
SBN       4
PSP       3
Name: dest, Length: 103, dtype: int64

In [9]:
the_piores = df_delay2hours[df_delay2hours['dep_time']-df_delay2hours['sched_dep_time']>=5]

the_piores

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
25,26,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
26,27,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,2013-01-01 06:00:00
31,32,2013,1,1,623.0,610,13.0,920.0,915,5.0,AA,1837,N3EMAA,LGA,MIA,153.0,1096,6,10,2013-01-01 06:00:00
41,42,2013,1,1,632.0,608,24.0,740.0,728,12.0,EV,4144,N13553,EWR,IAD,52.0,212,6,8,2013-01-01 06:00:00
47,48,2013,1,1,644.0,636,8.0,931.0,940,-9.0,UA,1701,N75435,EWR,FLL,151.0,1065,6,36,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308306,308307,2013,8,30,1817.0,1810,7.0,2053.0,2128,-35.0,DL,83,N319US,JFK,MIA,137.0,1089,18,10,2013-08-30 18:00:00
308310,308311,2013,8,30,1819.0,1545,154.0,1924.0,1705,139.0,AA,1786,N3KSAA,JFK,BOS,39.0,187,15,45,2013-08-30 15:00:00
308311,308312,2013,8,30,1819.0,1800,19.0,2051.0,2053,-2.0,UA,786,N524UA,EWR,PBI,126.0,1023,18,0,2013-08-30 18:00:00
308312,308313,2013,8,30,1820.0,1748,32.0,2046.0,2035,11.0,B6,299,N529JB,LGA,MCO,125.0,950,17,48,2013-08-30 17:00:00
308313,308314,2013,8,30,1820.0,1700,80.0,2103.0,2027,36.0,UA,512,N525UA,JFK,SFO,322.0,2586,17,0,2013-08-30

In [10]:
premissas_do_japinha = the_piores.sort_values(by=['dest'])

premissas_do_japinha.dest.value_counts().head(5)

ORD    4875
ATL    4602
LAX    4373
SFO    4045
MCO    4040
Name: dest, dtype: int64

In [11]:
df['dep_delay'].describe()

count    300521.000000
mean         13.189112
std          40.583097
min         -43.000000
25%          -5.000000
50%          -1.000000
75%          12.000000
max        1301.000000
Name: dep_delay, dtype: float64

In [12]:
df_delay2hours

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
25,26,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
26,27,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,2013-01-01 06:00:00
27,28,2013,1,1,613.0,610,3.0,925.0,921,4.0,B6,135,N635JB,JFK,RSW,175.0,1074,6,10,2013-01-01 06:00:00
31,32,2013,1,1,623.0,610,13.0,920.0,915,5.0,AA,1837,N3EMAA,LGA,MIA,153.0,1096,6,10,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308309,308310,2013,8,30,1818.0,1815,3.0,1943.0,1957,-14.0,UA,1053,N38268,EWR,CLE,59.0,404,18,15,2013-08-30 18:00:00
308310,308311,2013,8,30,1819.0,1545,154.0,1924.0,1705,139.0,AA,1786,N3KSAA,JFK,BOS,39.0,187,15,45,2013-08-30 15:00:00
308311,308312,2013,8,30,1819.0,1800,19.0,2051.0,2053,-2.0,UA,786,N524UA,EWR,PBI,126.0,1023,18,0,2013-08-30 18:00:00
308312,308313,2013,8,30,1820.0,1748,32.0,2046.0,2035,11.0,B6,299,N529JB,LGA,MCO,125.0,950,17,48,2013-08-30 17:00:00
308313,308314,2013,8,30,1820.0,1700,80.0,2103.0,2027,36.0,UA,512,N525UA,JFK,SFO,322.0,2586,17,0,2013-08-30

In [11]:
(df_delay2hours['arr_time']-df_delay2hours['dep_time'])/df_delay2hours['air_time']

1          1.396476
25         1.431655
26         0.912568
27         1.782857
31         1.941176
            ...
336759     0.515464
336760     1.066667
336762    -6.669811
336763   -17.691057
336768     1.575758
Length: 114149, dtype: float64

In [12]:
velocidade = df_delay2hours['distance']/df_delay2hours['air_time']

1         6.237885
25        5.172662
26        7.065574
27        6.137143
31        7.163399
            ...
336759    7.876289
336760    7.266667
336762    8.066038
336763    7.674797
336768    5.666667
Length: 114149, dtype: float64